<nav class="navbar header-bottom">
  <div class="container">
    <ul class="nav navbar-nav navbar-right">
      <li><a>Profile</a></li>
      <li><a>Log Out</a></li>
    </ul>
  </div>
</nav>
<div class="container-fluid main-container">
<div class="col-md-2 sidebar">
  <div class="row">

   <div class="absolute-wrapper"> </div>
  <div class="side-menu">
    <nav class="navbar navbar-default" role="navigation">
      <div class="side-menu-container">
        <ul class="nav navbar-nav">
          <li><a href="#/organisationDashboardPage"  ng-click="goToDashboard()"><span class="glyphicon glyphicon-dashboard"></span> Dashboard</a></li>
          <li><a href="#/orgNotifications" ng-click="goToNotification()"><span class="glyphicon glyphicon-alert"></span> Notifications</a></li>
          <li><a href="#/orgOrganizations" ng-click="goToOrganisation()"><span class="glyphicon glyphicon-plane"></span> Organisations</a></li>
          <li><a href="#/orgProfile" ng-click="goToProfile()"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
          <li class="active" ng-click="goToNews()"><a href="#/news"><span class="glyphicon glyphicon-cloud"></span> News</a></li>
          <li><a href="#/orgUpdates" ng-click="goToUpdates()"><span class="glyphicon glyphicon-signal"></span> Updates</a></li>
       </ul>
     </div>
   </nav>
 </div>
</div>
</div>
<div class="col-md-10 content">
    <div class="panel panel-default">
       <div class="panel-heading">
         News
       </div>
       <md-button class="md-raised md-primary" style="float: right;" ng-click="addNews()">Add News</md-button> <br><br><br>
       <div class="panel-body">
       </div>
     </div>
   </div>
</div>

<script type = "text/ng-template" id = "addNews.tmpl.html">
	<md-dialog>
    <md-toolbar>
       <div class="md-toolbar-tools">
         <h2>Add New News</h2>
       </div>
     </md-toolbar>
     <md-dialog-content style="width:400px;max-height:810px;margin-top:20px;margin-left:auto;margin-right: auto">
       <form name = "newsForm">
         <div layout = "column" layout-align = "center center">
           <md-input-container style = "width : 300px" class = "md-block">
             <label>News Title</label>
             <input type="text" required="" name = "newname" ng-model = "newsForm.newsname" required>
             <div ng-messages = "newsForm.newsname.$error">
               <div ng-message = "required">This is required</div>
             </div>
           </md-input-container>
           <md-input-container style = "width : 300px" class = "md-block">
             <label>News Details</label>
             <textarea ng-model="newsForm.news_details" md-maxlength="2000" rows="150"></textarea>
             <div ng-messages = "newsForm.news_details.$error">
               <div ng-message = "required">This is required</div>
             </div>
           </md-input-container>
           <md-input-container style = "width : 300px" class = "md-block">
             <label>Minimum Funding</label>
             <input type="number" required="" name = "min_fund" ng-model = "newsForm.min_fund" required>
             <div ng-messages = "newsForm.min_fund.$error">
               <div ng-message = "required">This is required</div>
             </div>
           </md-input-container>
           <md-input-container style = "width : 300px" class = "md-block">
             <label>Maximum Funding</label>
             <input type="number" required="" name = "max_fund" ng-model = "newsForm.max_fund" required>
             <div ng-messages = "newsForm.max_fund.$error">
               <div ng-message = "required">This is required</div>
             </div>
           </md-input-container>
           <div layout = "row" layout-align = "center center">
 						<md-button class="md-raised md-primary" style = "font-size : 1.3em"
 						ng-click = "addNews()">ADD NEWS</md-button>
 		       </div>
         </div>
       </form>
		 </md-dialog-content>
	</md-dialog>
</script>
