<nav class="navbar header-bottom">
  <div class="container">
    <ul class="nav navbar-nav navbar-right">
      <li><a>Profile</a></li>
      <li><a ng-click="goToHomePage()">Log Out</a></li>
    </ul>
  </div>
</nav>
<div class="container-fluid main-container">
<div class="col-md-2 sidebar">
  <div class="row">

   <div class="absolute-wrapper"> </div>
  <div class="side-menu">
    <nav class="navbar navbar-default" role="navigation">
      <div class="side-menu-container">
        <ul class="nav navbar-nav">
          <li><a ng-click="goToDashboard()"><span class="glyphicon glyphicon-dashboard"></span> Dashboard</a></li>
          <li class="active"><a ng-click="goToNotification()"><span class="glyphicon glyphicon-alert"></span> Notifications</a></li>
          <li><a ng-click="goToOrganisation()"><span class="glyphicon glyphicon-plane"></span> Organisations</a></li>
          <li><a ng-click="goToProfile()"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
          <li><a ng-click="goToNews()"><span class="glyphicon glyphicon-cloud"></span> News</a></li>
          <li><a ng-click="goToUpdates()"><span class="glyphicon glyphicon-signal"></span> Updates</a></li>
       </ul>
     </div>
   </nav>
 </div>
</div>
</div>
<div class="col-md-10 content">
    <div class="panel panel-default">
       <div class="panel-heading">
         Notifications
       </div>
       <div class="panel-body">
         <md-content>
           <md-list flex>
             <md-list-item class="md-3-line" ng-repeat="not in notifications" ng-click="openNotification()">
               <img src="../../images/s1.png" class="md-avatar" alt="$$" />
               <div class="md-list-item-text" layout="column">
                 <h3>{{ not.not_name }}</h3>
                 <h4></h4>
                 <p>{{ not.researcher_name }}</p>
               </div>
             </md-list-item>
             <md-divider ></md-divider>
           </md-list>
         </md-content>
       </div>
     </div>
   </div>
</div>

<script type = "text/ng-template" id = "notification.tmpl.html">
	<md-dialog>
		 <md-dialog-content>
       Working
		 </md-dialog-content>
	</md-dialog>
</script>
