<nav class="navbar header-bottom">
  <div class="container">
    <center>
      <ul class="nav navbar-nav">
        <li><a ng-click="goToResearcherLogin()"><span class="glyphicon glyphicon glyphicon-user"></span>  Researcher Login</a></li>
        <li><a><span class="glyphicon glyphicon glyphicon-globe"></span>  Organization Login</a></li>
        <li><a ng-click="goToResearcherLogin()"><span class="glyphicon glyphicon glyphicon-education"></span>  Researcher Registration</a></li>
      </ul>
    </center>
    <ul class="nav navbar-nav navbar-right">
      <li><a>FAQs</a></li>
      <li><a>Contact Us</a></li>
    </ul>
  </div>
</nav>
<div class="container-fluid main-container">
<div class="col-md-2 sidebar">
  <div class="row">

   <div class="absolute-wrapper"> </div>
  <div class="side-menu">
    <nav class="navbar navbar-default" role="navigation">
      <div class="side-menu-container">
        <ul class="nav navbar-nav">
          <li><a href="#/organisationDashboardPage"><span class="glyphicon glyphicon-dashboard"></span> Dashboard</a></li>
          <li><a href="#/orgNotifications"><span class="glyphicon glyphicon-alert"></span> Notifications</a></li>
          <li><a href="#/orgOrganizations"><span class="glyphicon glyphicon-plane"></span> Organisations</a></li>
          <li><a href="#/orgProfile"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
          <li><a href="#/orgNews"><span class="glyphicon glyphicon-cloud"></span> News</a></li>
          <li class="active"><a href="#/orgUpdates"><span class="glyphicon glyphicon-signal"></span> Updates</a></li>
       </ul>
     </div>
   </nav>
 </div>
</div>
</div>
<div class="col-md-10 content">
    <div class="panel panel-default">
       <div class="panel-heading">
         Latest Updates
       </div>
       <div class="panel-body">
         This is updates page
       </div>
     </div>
   </div>
</div>
