<nav class="navbar header-bottom">
  <div class="container">
    <ul class="nav navbar-nav navbar-right">
      <li><a>Profile</a></li>
      <li><a ng-click="goToHomePage()">Log Out</a></li>
    </ul>
  </div>
</nav>
<div class="container-fluid main-container">
<div class="row">
<div class="col-md-2">
  <div class="row">

   <div class="absolute-wrapper"> </div>
  <div class="side-menu">
    <nav class="navbar navbar-default" role="navigation">
      <div class="side-menu-container">
        <ul class="nav navbar-nav">
          <li class="active"><a ng-click="goToDashboardResearcher()"><span class="glyphicon glyphicon-dashboard"></span> Dashboard</a></li>
          <li><a ng-click="goToNotification()"><span class="glyphicon glyphicon-envelope"></span> Notifications</a></li>
          <li><a ng-click="goToNewProposal()"><span class="glyphicon glyphicon-plus"></span> New Proposals</a></li>
          <li><a ng-click="goToPreviousProposals()"><span class="glyphicon glyphicon-ok"></span> Previous Proposals</a></li>
          <li><a ng-click="goToOrganisation()"><span class="glyphicon glyphicon-plane"></span> Organisations</a></li>
          <li><a ng-click="goToProfile()"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
          <li><a ng-click="goToNews()"><span class="glyphicon glyphicon-cloud"></span> News ({{newsCount}})</a></li>
          <li><a ng-click="goToUpdates()"><span class="glyphicon glyphicon-signal"></span> Updates</a></li>
       </ul>
     </div>
   </nav>
 </div>
</div>
</div>

<div class="col-md-10">

<md-content layout = "column" color:#ffffff flex>
  <div layout = "column">
    <h2 align="center" style="color:#3366ff">Dashboard</h2>
  </div>
    <div layout = "row" layout-align = "space-between center" layout-wrap>
    <md-card  id="card_id">
      <md-card-content layout-align = "center center">
        <h3 id="card_text" align="center">Number of Proposals </h3>
        <h1 align="center" style="color: #000000">{{dashboardDetails.proposalsCount}}</h1>
      </md-card-content>
    </md-card>
    <md-card id="card_id">
      <md-card-content layout-align = "center center">
        <h3 id="card_text" align="center" class="card_text">Successful Proposals</h3>
        <h1 align="center" style="color: #000000"></h1>
      </md-card-content>
    </md-card>
    <md-card  id="card_id">
      <md-card-content layout-align = "center center" layout-wrap>
        <h3 id="card_text" align="center">Total Funding</h3>
        <h1 align="center" style="color: #000000">15000</h1>
      </md-card-content>
    </md-card>
    </div>
    <div layout = "row" layout-align = "space-between center" layout-wrap>
    
  </div>
</md-content>
</div>
</div>
