<nav class="navbar header-bottom">
  <div class="container">
    <ul class="nav navbar-nav navbar-right">
      <li><a>Profile</a></li>
      <li><a ng-click="goToHomePage()">Log Out</a></li>
    </ul>
  </div>
</nav>
<div class="container-fluid main-container">
<div class="col-md-2 sidebar">
  <div class="row">

   <div class="absolute-wrapper"> </div>
  <div class="side-menu">
    <nav class="navbar navbar-default" role="navigation">
      <div class="side-menu-container">
        <ul class="nav navbar-nav">
          <li><a ng-click="goToDashboard()"><span class="glyphicon glyphicon-dashboard"></span> Dashboard</a></li>
          <li><a ng-click="goToNotification()"><span class="glyphicon glyphicon-envelope"></span> Notifications ({{notificationsCount}})</a></li>
          <li class="active"><a ng-click="goToNewProposal()"><span class="glyphicon glyphicon-plus"></span> New Proposals</a></li>
          <li><a ng-click="goToPreviousProposals()"><span class="glyphicon glyphicon-ok"></span> Previous Proposals</a></li>
          <li><a ng-click="goToOrganisation()"><span class="glyphicon glyphicon-plane"></span> Organisations</a></li>
          <li><a ng-click="goToProfile()"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
          <li><a ng-click="goToNews()"><span class="glyphicon glyphicon-cloud"></span> News ({{newsCount}})</a></li>
       </ul>
     </div>
   </nav>
 </div>
</div>
</div>
<div class="col-md-10 content">
    <div class="panel panel-default">
       <div class="panel-heading">
         New Proposal
       </div>
       <div class="panel-body">
         <md-content layout-padding>
           <form name="newProposalForm">
             <div layout="row">
                <md-input-container flex="50">
                  <label>Proposal Name</label>
                  <input required ng-model="proposal.name" name="title"/>
                  <div ng-messages="proposal.title.$error">
                    <div ng-message="required">This is required.</div>
                  </div>
                </md-input-container>

                <md-input-container flex="50">
                  <label>Enter Message</label>
                  <textarea ng-model="proposal.message" md-maxlength="2000" rows="150" name="message"></textarea>
                  <div ng-messages = "newProposalForm.message.$error">
                    <div ng-message = "required">This is required</div>
                  </div>
                </md-input-container>
              </div>
                <div layout="row">
                <md-input-container flex="50">
                  <label>Minimum Fund</label>
                  <input required type="number" ng-model="proposal.fund" name="fund"/>
                  <div ng-messages="proposal.fund.$error">
                    <div ng-message="required">This is required.</div>
                  </div>
                </md-input-container>

                <md-input-container flex="50">
                  <label>Select Organisations</label>
                  <md-select name="org" ng-model="proposal.org_id" required>
                    <md-option ng-repeat = "organisation in organisations" value="{{organisation.id}}">
                      {{organisation.org_name}}
      							</md-option>
                  </md-select>
                </md-input-container>
              </div>
              <div layout="row">
                  <input  type="file" ngf-select ng-model="proposal.file" name="file" ngf-max-size="20MB"  />
              </div>
              <center>
                <md-button class="md-raised md-primary" ng-click="submitProposal()">Submit Proposal</md-button>
              </center>
           </form>
         </md-content>
       </div>
     </div>
   </div>
</div>
