<nav class="navbar header-bottom">
  <div class="container">
    <ul class="nav navbar-nav navbar-right">
      <li><a>Profile</a></li>
      <li><a>Log Out</a></li>
    </ul>
  </div>
</nav>
<div class="container-fluid main-container">
<div class="col-md-2 sidebar">
  <div class="row">

   <div class="absolute-wrapper"> </div>
  <div class="side-menu">
    <nav class="navbar navbar-default" role="navigation">
      <div class="side-menu-container">
        <ul class="nav navbar-nav">
          <li><a href="#/researcherDashboardPage" ng-click="goToDashboard()"><span class="glyphicon glyphicon-dashboard"></span> Dashboard</a></li>
          <li class="active"><a href="#/notifications" ng-click="goToNotification()"><span class="glyphicon glyphicon-alert"></span> Notifications</a></li>
          <li><a ng-click="goToNewProposal()"><span class="glyphicon glyphicon-plus"></span> New Proposals</a></li>
          <li><a ng-click="goToPreviousProposals()"><span class="glyphicon glyphicon-ok"></span> Previous Proposals</a></li>
          <li><a href="#/organizations" ng-click="goToOrganisation()"><span class="glyphicon glyphicon-plane"></span> Organisations</a></li>
          <li><a href="#/profile" ng-click="goToProfile()"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
          <li><a href="#/news" ng-click="goToNews()"><span class="glyphicon glyphicon-cloud"></span> News</a></li>
          <li><a href="#/updates" ng-click="goToUpdates()"><span class="glyphicon glyphicon-signal"></span> Updates</a></li>
       </ul>
     </div>
   </nav>
 </div>
</div>
</div>
<div class="col-md-10 content">
    <div class="panel panel-default">
       <div class="panel-heading">
         Notifications
       </div>
       <div class="panel-body">
         notifications Page
       </div>
     </div>
   </div>
</div>
