    <nav class="navbar header-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand">{{ clock  | date:'medium'}} IST</a>
        </div>

		    <ul class="nav navbar-nav">
					<li><a><span class="glyphicon glyphicon-home"></span></a></li>
					<li><a><span class="glyphicon glyphicon-arrow-down"></span>  Skip to main content</a></li>
					<li><a><span class="glyphicon glyphicon-arrow-down"></span>  Skip to navigation</a></li>
					<li><a><span class="glyphicon glyphicon-volume-up"></span>  Screen Reader Access</a></li>
				</ul>

        <ul class="nav navbar-nav navbar-right">
          <li><a>English</a></li>
          <li><a>हिन्दी</a></li>
        </ul>
    	</div>
    </nav>

		<div class="container">
			<img src="../images/logo_2.png" alt="Home" / class="ministry_logo">
		</div>

		<nav class="navbar header-bottom">
      <div class="container">
				<center>
			    <ul class="nav navbar-nav">
            <li><a ng-click="goToResearcherLogin()"><span class="glyphicon glyphicon glyphicon-user"></span>  Researcher Login</a></li>
						<li><a ng-click="goToOrgLogin()"><span class="glyphicon glyphicon glyphicon-globe"></span>  Organization Login</a></li>
						<li><a><span class="glyphicon glyphicon glyphicon-education"></span>  Researcher Registration</a></li>
					</ul>
				</center>
        <ul class="nav navbar-nav navbar-right">
          <li><a>FAQs</a></li>
          <li><a>Contact Us</a></li>
        </ul>
      </div>
    </nav>
