<nav class="navbar header-bottom">
  <div class="container">
	   <center>
		     <ul class="nav navbar-nav">
           <li><a><span class="glyphicon glyphicon glyphicon-user"></span>  Researcher Login</a></li>
					 <li><a ng-click="goToOrgLogin()"><span class="glyphicon glyphicon glyphicon-globe"></span>  Organization Login</a></li>
					 <li><a ng-click="goToResearcherRegistration()"><span class="glyphicon glyphicon glyphicon-education"></span>  Researcher Registration</a></li>
           <li><a ng-click="goToAdminPage()"><span class="glyphicon glyphicon glyphicon-king"></span>  Admin Login</a></li>
					</ul>
		 </center>
     <ul class="nav navbar-nav navbar-right">
       <li><a>FAQs</a></li>
       <li><a ng-controller="HomeController" ng-click="goToContactPage()">Contact Us</a></li>
     </ul>
  </div>
</nav>
<marquee>
  Organisations need to send their proof and details to ICMR admin to get their login credentials
</marquee>
<div class="logincontainer">
  <header>
    <h1>Researcher Login Form</h1>
  </header>
  <section>
    <div id="container_demo" >
      <a class="hiddenanchor" id="tologin"></a>
        <div id="wrapper">
          <div id="login" class="animate form">
            <form autocomplete="on">
              <h1>Log in</h1>
              <p>
                <label for="username" class="uname" > Enter Email Id </label>
                <input id="username" name="username" required="required" type="text" placeholder="mymail@mail.com" ng-model="login.email"/>
              </p>
              <p>
                <label for="password" class="youpasswd"> Your password </label>
                <input id="password" name="password" required="required" type="password" placeholder="My Password" ng-model="login.password"/>
              </p>
              <p class="keeplogin">
                <input type="checkbox" name="loginkeeping" id="loginkeeping" value="loginkeeping" />
                <label for="loginkeeping">Keep me logged in</label>
              </p>
              <p class="login button">
                <input type="submit" value="Login" ng-click="signin()" />
              </p>
            </form>
          </div>
        </div>
      </div>
    </section>
</div>
