
    <nav class="navbar header-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand">{{ clock  | date:'medium'}} IST</a>
        </div>

		    <ul class="nav navbar-nav">
					<li><a><span class="glyphicon glyphicon-home"></span></a></li>
					<li><a><span class="glyphicon glyphicon-arrow-down"></span>  Skip to main content</a></li>
					<li><a><span class="glyphicon glyphicon-arrow-down"></span>  Skip to navigation</a></li>
					<li><a><span class="glyphicon glyphicon-volume-up"></span>  Screen Reader Access</a></li>
				</ul>

        <ul class="nav navbar-nav navbar-right">
          <li><a>English</a></li>
          <li><a>हिन्दी</a></li>
        </ul>
    	</div>
    </nav>

		<div class="container">
			<img src="../images/logo_2.png" alt="Home" / class="ministry_logo">
		</div>

		<nav class="navbar header-bottom">
      <div class="container">
				<center>
			    <ul class="nav navbar-nav">
            <li><a ng-click="goToResearcherLogin()"><span class="glyphicon glyphicon glyphicon-user"></span>  Researcher Login</a></li>
						<li><a><span class="glyphicon glyphicon glyphicon-globe" ng-click="goToOrgLogin()"></span>  Organization Login</a></li>
						<li><a><span class="glyphicon glyphicon glyphicon-education"  ng-click="goToResearcherRegistration()"></span>  Researcher Registration</a></li>
					</ul>
				</center>
        <ul class="nav navbar-nav navbar-right">
          <li><a>FAQs</a></li>
          <li><a>Contact Us</a></li>
        </ul>
      </div>
    </nav>

		<!--Carousel of the page

		<div class="carousel slide" id="mycarousel" data-ride="carousel">
			<ol class="carousel-indicators">
				<li data-target="#mycarousel" data-slide-to="0" class="active"></li>
				<li data-target="#mycarousel" data-slide-to="1"></li>
				<li data-target="#mycarousel" data-slide-to="2"></li>
				<li data-target="#mycarousel" data-slide-to="3"></li>
				<li data-target="#mycarousel" data-slide-to="4"></li>
			</ol>

			<div class="carousel-inner">
				<div class="item active">
					<img src="../images/screen.jpg" alt="sk" class="img-responsive" />
				</div>
				<div class="item">
					<img src="../images/s2.png" alt="sk" class="img-responsive" />
				</div>
				<div class="item">
					<img src="../images/s3.png" alt="sk" class="img-responsive" />
				</div>
				<div class="item">
					<img src="../images/s4.png" alt="sk" class="img-responsive" />
				</div>
				<div class="item">
					<img src="../images/s5.png" alt="sk" class="img-responsive" />
				</div>
			</div>
				<a href="#mycarousel" class="carousel-control left" data-slide="prev">
					<span class="icon-prev"></span>
				</a>

			<a href="#mycarousel" class="carousel-control right" data-slide="next">
				<span class="icon-next"></span>
			</a>
		</div>
		-->
